@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relogio {
    width: 350px;
    height: 350px;
    border: 20px solid black;
    border-radius: 50%;
    padding: 40px;
    background-color:cadetblue;
}
.relogio-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.ponteiro {
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}